<dialog
  id="new-city-dialog"
  popover
  hx-get="/cities/select/get"
  hx-swap="innerHTML"
  hx-trigger="toggle"
  hx-vals="{}"
  hx-target="#city-sister-city"
>
  <h2>Add a city</h2>
  <form hx-post="/cities/add" hx-swap="innerHTML" hx-target="#cities-list">
    <label for="city-name">Name</label>
    <input id="city-name" name="name" type="text">

    <label for="city-state">State</label>
    <input id="city-state" name="state" type="text" maxlength="2" pattern="[A-Z]{2}">

    <label for="city-country">Country</label>
    <input id="city-country" name="country" type="text">

    <label for="city-sister-city">Sister City</label>
    <select id="city-sister-city" name="sister_city_id"></select>

    <button type="submit" popovertarget="new-city-dialog">Add</button>
  </form>
</dialog>