@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --col-dark-bg: #202020;
    --col-dark-input-bg: #303030;
    --col-dark-input-hover-bg: #404040;
    --col-dark-text: #c0c0c0;
    --col-dark-input-text: #e0e0e0;

    --col-light-bg: white;
    --col-light-input-bg: #c0c0c0;
    --col-light-input-hover-bg: #d0d0d0;
    --col-light-text: #202020;

    --col-code: #5b96d5;

    --border-opacity: .2;

    background-color: var(--col-dark-bg);
    color: var(--col-dark-text);
    font-family: "Be Vietnam Pro", sans-serif;
}

* {
    margin: 0;
}

[popover] {
    background-color: var(--col-dark-bg);
    color: var(--col-dark-text);
    margin: revert;
    &::backdrop {
        background-color: rgba(0, 0, 0, .4);
    }
}

body {
    display: flex;
    margin: 0;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
}

main {
    margin: 0 auto;
}

button, input, select {
    background-color: var(--col-dark-input-bg);
    color: var(--col-dark-input-text);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: inherit;
}

button, select {
    &:hover {
        background-color: var(--col-dark-input-hover-bg);
    }
    transition: background-color .2s ease;
    cursor: pointer;
}

article, dialog {
    border-radius: 16px;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, var(--border-opacity));
    & > * {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

dialog {
    opacity: 1.0;
    transition: opacity 0.3s ease;
}

code {
    font-size: 14pt;
    color: var(--col-code);
}

input, select {
    box-sizing: border-box;
    min-width: 300px;
}

form {
    > :is(input, select) {
        display: block;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    button {
        display: block;
        margin-left: auto;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: var(--col-light-bg);
        color: var(--col-light-text);
    }

    main {
        border-color: rgba(0, 0, 0, var(--border-opacity));
    }

    button {
        background-color: var(--col-light-input-bg);
        color: var(--col-light-text);
        &:hover {
            background-color: var(--col-light-input-hover-bg);
        }
    }
}

@starting-style {
    dialog {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    input {
        width: 100%;
    }
}